* {
  box-sizing: border-box;
overflow: auto;
}

body {
  background-color:white ;
font-family:  monospace;
  margin: 0;
  color:white;

}

.up{
  position: absolute;
  z-index: 99;
}
p{
  font-size: 10px;
  color:black;
}
#darkmode{
overflow: visible;
  background: black;
  border-style: double;
position: relative;
border-radius: 50%;
 width: 30px;
  height: 30px;
 animation: scale 1s 5 ease-in;

}
.dark2{
  overflow: visible;
    background: white;
    border-style: double;
  position: relative;
  border-radius: 50%;
   width: 30px;
    height: 30px;
   animation: scale 1s 5 ease-in;

}
.temp{
height: 100%;
width: 100%;
color: black;
position: relative;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

header {
  font-family:  'ColorTube';
  background-image: url('undraw_media_player_ylg8.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
 background-position: center;
  color: #e33636;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}
h1{
  animation-name: bigEntrance;


	animation-duration: 1.6s;


	animation-timing-function: ease-out;


	visibility: visible !important;
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

header * {
  z-index: 1;
}

header h1 {
  margin: 0 0 30px;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #e056fd;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
}

.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 4px 10px;
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  color:black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  transform: scale(1.3);
  margin: 15px;
}

@font-face {
  font-family: 'ColorTube';
  src: url('ColorTube-Regular.ttf'); /* IE9 Compat Modes */
  src: url('ColorTube-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('ColorTube-Regular.ttf') format('woff2'), /* Super Modern Browsers */
       url('ColorTube-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS
}
